name: Reusable Deploy to Azure Container Apps

on:
  workflow_call:
    inputs:
      container-app-name:
        description: 'Name of the Azure Container App'
        required: true
        type: string
      resource-group:
        description: 'Azure resource group'
        required: true
        type: string
      image:
        description: 'Full image ref (e.g. ghcr.io/org/app@sha256:...)'
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

jobs:
  deploy:
    name: Deploy to ACA
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Container App
        uses: azure/container-apps-deploy-action@v2
        with:
          containerAppName: ${{ inputs.container-app-name }}
          resourceGroup: ${{ inputs.resource-group }}
          imageToDeploy: ${{ inputs.image }}
